.openDash{
   
    padding-left:265px !important;
    transition: 0.3s all ease !important;
}
.closeDash{

    padding-left:100px !important;
    transition: 0.3s all ease !important;
}
.dash-head{
    font-size: 15px !important;
    font-weight: 600 !important;
    padding:15px 10px 15px 13px !important;
}

@media screen and (max-width:768px){
    .openDash{
   
        padding-left:10px !important;
        transition: 0.2s all ease;
    }
    .closeDash{

        padding-left:100px !important;
        transition: 0.2s all ease;
    }
}
